In [1]:
import numpy as np 
import pandas as pd
import seaborn as sns
import warnings
warnings.filterwarnings('ignore')

In [2]:
data=pd.read_csv(r"C:\Users\mvsan\Desktop\Matplotlib\weatherHistory.csv")

In [3]:
data.head()

,Formatted Date,Summary,Precip Type,Temperature (C),Apparent Temperature (C),Humidity,Wind Speed (km/h),Wind Bearing (degrees),Visibility (km),Loud Cover,Pressure (millibars),Daily Summary
0,2006-04-01 00:00:00.000 +0200,Partly Cloudy,rain,9.472222,7.388889,0.89,14.1197,251.0,15.8263,0.0,1015.13,Partly cloudy throughout the day.
1,2006-04-01 01:00:00.000 +0200,Partly Cloudy,rain,9.355556,7.227778,0.86,14.2646,259.0,15.8263,0.0,1015.63,Partly cloudy throughout the day.
2,2006-04-01 02:00:00.000 +0200,Mostly Cloudy,rain,9.377778,9.377778,0.89,3.9284,204.0,14.9569,0.0,1015.94,Partly cloudy throughout the day.
3,2006-04-01 03:00:00.000 +0200,Partly Cloudy,rain,8.288889,5.944444,0.83,14.1036,269.0,15.8263,0.0,1016.41,Partly cloudy throughout the day.
4,2006-04-01 04:00:00.000 +0200,Mostly Cloudy,rain,8.755556,6.977778,0.83,11.0446,259.0,15.8263,0.0,1016.51,Partly cloudy throughout the day.

In [4]:
X=data[['Temperature (C)','Humidity','Wind Speed (km/h)','Visibility (km)','Pressure (millibars)']]
y=data['Apparent Temperature (C)']

In [5]:
from sklearn.model_selection import train_test_split

X_train,X_test,y_train,y_test=train_test_split(X,y,test_size=0.3,random_state=42)

In [6]:
X_train

,Temperature (C),Humidity,Wind Speed (km/h),Visibility (km),Pressure (millibars)
37406,1.161111,0.75,30.1070,8.0500,1003.06
90423,8.816667,1.00,9.9820,6.0214,1011.89
34192,7.900000,0.66,16.3093,11.4471,1027.81
69125,10.000000,0.93,9.5151,0.1771,1021.17
65412,31.038889,0.43,10.3040,9.9820,1013.74
...,...,...,...,...,...
6265,14.511111,0.84,5.1198,14.5866,1018.20
54886,-9.983333,0.85,3.0268,6.2146,1030.08
76820,9.350000,0.81,10.8836,8.0017,1010.39
860,19.161111,0.82,0.7728,9.9820,1012.44
15795,5.000000,0.90,10.8192,14.0875,1015.48

In [ ]:
#slope/coefficient and intercept
a=0 
b=0 
c=0 
d=0 
e=0 
f=0 

#learning rate
L = 0.25  
#epoch for mininum iterations to find minimum rss/mse
epochs = 10000  

#number of observations
n = float(len(X_train)) 

for i in range(epochs): 
    y_pred = a+b*X_train[:,0]+c*X_train[:,1]+d*X_train[:,2]+e*X_train[:,3]+f*X_train[:,4]
    D_a = (-2/n) * sum(y_train - y_pred) 
    D_b = (-2/n) * sum(X_train[:,0] * (y_train - y_pred)) 
    D_c = (-2/n) * sum(X_train[:,1] * (y_train - y_pred)) 
    D_d = (-2/n) * sum(X_train[:,2] * (y_train - y_pred)) 
    D_e = (-2/n) * sum(X_train[:,3] * (y_train - y_pred)) 
    D_f = (-2/n) * sum(X_train[:,4] * (y_train - y_pred))  
    a = a - L * D_a  
    b = b - L * D_b
    c = c - L * D_c  
    d = d - L * D_d  
    e = e - L * D_e  
    f = f - L * D_f   
    
print (a,b,c,d,e,f)

In [ ]:
y_pred_testing=a+b*X_test[:,0]+c*X_test[:,1]+d*X_test[:,2]+e*X_test[:,3]+f*X_test[:,4]

y_testing_mean=y_test.mean()

tss=sum((y_test-y_testing_mean)**2)
rss=sum((y_pred_testing-y_test)**2)

r2score=1-(rss/tss)
print(r2score)